pandas
rdkit
python-igraph
XlsxWriter
dgl
pyarrow
plotly
customtkinter
chardet
torch
matplotlib
rmsd
networkx
dash
pyvista
pyvistaqt
morfeus-ml
scikit-learn
seaborn
Pillow  # PIL is installed as Pillow
scipy
tqdm
statsmodels
adjustText
multiprocess
shap
